<form method="post" action="{{ path('app_ferme_delete', {'id': ferme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ferme.id) }}">
    <button class="btn">Delete</button>
</form>
